<footer class="footer">
    <div class="goleftpls">&copy; 2025 Powerify. All rights reserved.</div>
    <div class="gorightpls">
        <a href="#" class="text-white me-3"><i class="fa-brands fa-facebook"></i></a>
        <a href="#" class="text-white me-3"><i class="fa-brands fa-twitter"></i></a>
        <a href="#" class="text-white"><i class="fa-brands fa-instagram"></i></a>
    </div>
</footer>